.hero-sec {
    position: relative;
    background-color: var(--primary);
    overflow: hidden;
    padding: 0 0;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 80%;
        height: 100%;
        background-color: var(--dark);
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 300px;
        transform: translateX(-50%);
        width: 150%;
        height: 1500px;
        border-radius: 50%;
        opacity: 0.8;
        background: radial-gradient(circle, #FFB600 0%, #FFB60000 80%);
        filter: blur(120px);
        z-index: -1;
    }

    .hero-wrapper {
        .content-wrapper {
            padding: 130px 0;
        }

        .about-hero-img {
            position: absolute;
            right: 0;
            top: 30px;
        }
    }
}

// Media Query
@media (max-width:1200px) {
    .hero-sec {
        padding-top: 40px;

        &::before{
            width: 100%;
            height: 60%;
        }

        &::after{
            top: 400px;
        }

        .hero-wrapper {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .content-wrapper {
                padding: 0;
            }

            .about-hero-img {
                position: static;
                max-width: 440px;
                width: 100%;
                height: auto;
            }
        }
    }
}