.category-sec .product-slider {
  margin-bottom: clamp(40px, 6vw, 60px);
}
.category-sec .product-slider .category-card {
  background-color: var(--gray);
  padding: clamp(18px, 2vw, 24px);
  margin: 0 10px;
  border: 1px solid var(--gray);
}
.category-sec .product-slider .category-card.active {
  background-color: transparent;
  border: 1px solid var(--primary);
}
.category-sec .filter-sidebar {
  background-color: var(--gray-dark);
  padding: 20px;
}
.category-sec .filter-sidebar .btn {
  padding: 5px 24px;
  border-radius: 0;
  font-size: 14px;
}
.category-sec .filter-sidebar .filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #B6B6B8;
}
.category-sec .filter-sidebar .filter-header .filter-title {
  font-size: 18px;
  font-weight: 700;
}
.category-sec .filter-sidebar .filter-body {
  padding: 20px 0;
  padding-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #B6B6B8;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.category-sec .filter-sidebar .filter-body:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.category-sec .filter-sidebar .filter-body .filter-options {
  list-style: none;
  padding: 0;
  margin: 0;
}
.category-sec .filter-sidebar .filter-body .filter-options li {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 12px;
}
.category-sec .filter-sidebar .filter-body .filter-options li:last-child {
  margin-bottom: 0;
}
.category-sec .filter-sidebar .filter-body .filter-options li input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
}
.category-sec .filter-sidebar .filter-body .filter-options li input[type=checkbox]:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}
.category-sec .filter-sidebar .filter-body .filter-options li input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./../img/icons/check-white-icon.svg") center/11px 11px no-repeat;
}
.category-sec .filter-sidebar .filter-body .filter-options li label {
  color: #717171;
  cursor: pointer;
  font-weight: 500;
}
.category-sec .filter-sidebar .filter-body .price-range {
  width: 100%;
}
.category-sec .filter-sidebar .filter-body .price-range .price-slider input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  background: transparent;
  border-radius: 5px;
  outline: none;
  position: relative;
  z-index: 2;
}
.category-sec .filter-sidebar .filter-body .price-range .price-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  border: 4px solid #ffffff;
}
.category-sec .filter-sidebar .filter-body .price-range .price-slider {
  position: relative;
}
.category-sec .filter-sidebar .filter-body .price-range .price-slider::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, #d82b2b 100%, #f0f0f0 100%);
  border-radius: 5px;
  z-index: 1;
}
.category-sec .product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 40px;
}
.category-sec .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  flex-wrap: wrap;
}
.category-sec .pagination li .numbers {
  border: 1px solid var(--border);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  transition: all 0.3s ease;
}
.category-sec .pagination li .numbers.active, .category-sec .pagination li .numbers:hover {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
}

@media (max-width: 768px) {
  .category-sec .product-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .category-sec .product-wrapper {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=category.css.map */