.contact-sec {
    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;

        .contact-info {
            background-color: var(--gray-light);
            text-align: center;
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
            height: 100%;

            .info-card {
                margin-bottom: clamp(16px,4vw,40px);

                .info-title {
                    font-size: clamp(18px,2vw,20px);
                    font-weight: 500;
                }
            }
        }

        .contact-form {
            padding: 24px 20px;
            background-color: var(--gray-light);

            .form-title {
                font-weight: bold;
                font-size: clamp(18px,2.2vw,22px);
                margin-bottom: 24px;
                display: block;
                color: #000;
            }

            .form-group {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }

            .form-wrapper {
                margin-bottom: 20px;


                label {
                    display: block;
                    font-weight: 600;
                    margin-bottom: 8px;
                }

                .input-control {
                    width: 100%;
                    height: 49px;
                    padding: 14px;
                    color: #121212;
                    border: none;
                    outline: none;

                    &::placeholder {
                        color: #121212;
                    }
                }

                textarea {
                    height: 111px !important;
                }
            }
        }
    }
}

// Media Query
@media (max-width:992px) {
    .contact-sec {
        .contact-wrapper {
            grid-template-columns: 1fr;

            .contact-form {
                .form-group {
                    grid-template-columns: 1fr;
                    gap: 0;
                }
            }
        }
    }
}