.cta-sec {
    position: relative;
    overflow: hidden;
    z-index: 1;

    .subscribe-wrapper {
        background-color: #ffffff30;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        max-width: 556px;
        width: 100%;
        margin: 0 auto;
        padding: 6px;

        input {
            background-color: transparent;
            outline: none;
            border: none;
            width: 100%;
            color: white;
            text-transform: capitalize;
            padding: 0 0 0 18px;

            &::placeholder {
                color: white;
            }
        }
    }
}