.footer {
    background-color: var(--dark);

    .footer-top {
        padding-top: 87px;
        padding-bottom: 53px;

        .footer-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 16px;

            .footer-content {
                .social-links {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
            }

            .footer-menu {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .title {
                    color: #ffffff70;
                    font-size: 14px;
                }

                .footer-links {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    li {

                        a,
                        span {
                            color: white;
                            transition: all .3s ease;

                            &:hover {
                                color: var(--primary);
                            }
                        }

                        span {
                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom-bar{
        .title{
            padding: clamp(20px,2vw,40px) 0;
            border-top: 1px solid #ffffff20;
            color: white;
            text-align: center;
            font-weight: 600;
        }
    }
}

// Media query
@media (max-width: 992px) {
    .footer {
        .footer-top {
            padding-top: 60px;
            padding-bottom: 40px;

            .footer-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 20px;

                .footer-content,
                .footer-menu {
                    flex: 0 0 calc(50% - 10px);
                    box-sizing: border-box;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .footer{
        .footer-top{
            .footer-wrapper{
                .footer-content,
                .footer-menu{
                    flex: 0 0 100%;
                }
            }
        }
    }
}