.hero-sec {
    background-color: var(--primary);
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 724px;
    padding: 0;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 50%;
        height: 100%;
        background-color: var(--dark);
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        width: 150%;
        height: 1500px;
        border-radius: 50%;
        opacity: 0.8;
        background: radial-gradient(circle, #FFB600 0%, #FFB60000 80%);
        filter: blur(120px);
        z-index: -1;
    }


    .hero-wrapper {
        position: relative;

        .content-wrapper {
            padding: 409px 0 191px 0;
            max-width: 467px;

            .hero-title {
                font-size: 140px;
                position: absolute;
                left: 0;
                top: 111px;
                width: 100%;
            }
        }

        .image-wrapper {
            position: absolute;
            top: 40px;
            left: 60%;
            transform: translateX(-60%);

            .hero-img {
                height: 724px;
            }
        }
    }
}

// Medai Query
@media (max-width:1200px) {
    .hero-sec {
        height: unset;
        padding-top: clamp(32px, 5vw, 50px);

        .hero-wrapper {
            .content-wrapper {
                padding: 0;

                .hero-title {
                    position: static;
                    font-size: clamp(36px, 4vw, 48px);
                    margin-bottom: 44px;
                }
            }

            .image-wrapper {
                position: static;
                transform: unset;

                .hero-img {
                    max-width: 519px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}