.shipping-cart {
  .cart-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

    .cart-details {
      background-color: var(--gray);
      margin-bottom: 20px;

      .cart-header {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 50px;
        padding: 18px 20px;
        border-bottom: 1px solid var(--border);
        font-weight: 600;

        .product-col {
          grid-column: 1 / span 1;
        }

        .price-col,
        .quantity-col {
          text-align: right;
          padding-right: 20px;
        }
      }

      .cart-item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 50px;
        align-items: center;
        padding: 18px 20px;
        border-bottom: 1px solid var(--border);

        .product-info {
          display: flex;
          align-items: center;
          gap: 12px;
        }

        .price {
          text-align: right;
          padding-right: 20px;
        }

        .quantity-control {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 8px;
          background-color: white;
          padding: 8px;
          width: fit-content;
          margin-left: auto;
          margin-right: 20px;

          input {
            width: 34px;
            height: 34px;
            font-size: 14px;
            text-align: center;
            outline: none;
            border: none;
          }

          button {
            width: 34px;
            height: 34px;
            background-color: var(--gray);
            cursor: pointer;
            font-size: 18px;
            border: none;
          }
        }

        .remove-item {
          background: none;
          border: none;
          font-size: 20px;
          cursor: pointer;
          color: #000;
          line-height: 1;
          border-radius: 50%;
          border: 1px solid #000;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin-left: auto;
        }
      }

      .continue-shopping {
        padding: 18px 20px;
      }
    }

    .coupon-section {
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: var(--gray);
      padding: 18px 20px;

      .coupon-code-label {
        font-weight: bold;
        white-space: nowrap;
      }

      .coupon-input-group {
        display: flex;
        gap: 10px;
        width: 100%;
        background-color: white;
        padding: 6px;
        box-shadow: 10px 21px 32px 0 #00000010;

        input {
          border: none;
          outline: none;
          width: 100%;
          color: #717171;
          font-weight: 500;
          padding-left: 20px;

          &::placeholder {
            color: #717171;
          }
        }

        #applyCoupon {
          white-space: nowrap;
          background-color: #000;
          border: none;
        }
      }
    }
  }

  .cart-summary {
    background-color: var(--gray);
    padding: 18px 20px;
    height: fit-content;

    .summary-title {
      font-size: 20px;
      font-weight: 700;
      color: #000;
      display: block;
      margin-bottom: 16px;
    }

    .summary-line {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 12px;

      &.total-line {
        margin-bottom: 24px;
      }

      .summary-text {
        font-weight: 500;
        color: #717171;
      }

      .shipping-amount {
        font-weight: 500;
        color: #000;
      }
    }
  }
}

// Media Query
@media (max-width: 992px) {
  .shipping-cart {
    .cart-wrapper {
        grid-template-columns: 1fr;

      .coupon-section{
        flex-wrap: wrap;
      }
    }
  }
}
@media (max-width:576px) {
    .shipping-cart{
        .cart-wrapper{
            .cart-details{
                .cart-item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 16px;
                    flex-wrap: wrap;
                    .quantity-control{
                        margin: 0;
                    }
                }
            }
        }
    }
}
